<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/act/src/act/Login.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="actout.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="act.Login"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="act"/>
</launchConfiguration>
